# Ignore everything
*

# But not these files or directories
!README.md

!.zshrc
!.git-config-base
!.gitignore
!.wezterm.lua
!wezterm.sh

!.config

!.config/nvim
!.config/nvim/**
.config/nvim/.env.local

!.config/lazygit
!.config/lazygit/**

!.oh-my-zsh
!.oh-my-zsh/custom
!.oh-my-zsh/custom/themes
!.oh-my-zsh/custom/themes/**

